<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About | Menu Randomizer</title>
	</head>
<body>
<h1>About the Menu Preparation Suite</h1>
<p>This little project started when I realized that my dear hubby would happily cook
dinner if only the planning part of the process was taken care of for him.</p>
<p>  Since I also often have no creative energy left at the end of
the day or week, planning menus was obviously something that needed to be done in
our household, but would have to be done by someone .... or something else.  As a younger
adult, I used to use spreadsheets and either a random number generator (such as
the integer generator at random.org) or a set of D & D dice.  But it ocured to me that
such an app would be a perfect,little example program that could be written in
Ruby on Rails and used as an example of a dynamic, full-stack application that evolves
over time as new features occur to the users in our household.</p>
</body>
</html>
