<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Help | Menu Randomizer</title>
	</head>
<body>
<h1>Menu Preparation App Help</h1>
<p>Bacon ipsum dolor amet landjaeger prosciutto andouille swine filet mignon chislic 
ribeye pork chop shankle cow cupim doner. Tenderloin ham sausage shoulder andouille pork 
chop ground round. Pork doner chuck tenderloin cow turkey short loin landjaeger ball tip 
chislic. Turkey ribeye shankle pork loin andouille pig. Frankfurter meatball salami cupim 
kielbasa, kevin ribeye short ribs rump pork burgdoggen. Pork leberkas buffalo chuck cupim, 
bresaola chicken swine biltong ham pig landjaeger.</p>
</body>
</html>
