<% provide(:title, "Home") %>
<h1>Menu Preparation Suite</h1>
<p>This app provides a (very) simple random menu generator based on three independent
tables: a main dish, a side dish, and a finishing treat.</p>
<p>Note: this is just a basic start and will gradually become more complex.</p>

