<footer class="footer">
	<small>The views and opinions expressed on this page are strictly those of their
	authors and not official statements of Grinnell College. </small>
	
	<nav>
		<ul>
			<li><%= link_to "Contact", contact_path  %></li>
		</ul>
	</nav>

</footer>